/* nav css */
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppin2;
  src: url(./fonts/Poppins-ExtraBold.ttf);
}
.nav-div {
  margin-top: -1%;
}
.logo {
  width: 188px;

  margin-right: 20%;
}
.usd {
  border-left: 2px solid orange;
  border: none;
  border-radius: 10px;
  padding: 9px;
  background-color: transparent;
}
.nav-item {
  font-family: poppins;
  font-weight: light;
}
.Sign {
  background-color: black;
  color: white;
  font-family: poppins;
  border-radius: 25px;
  padding: 7px 13px;
  margin-left: 3%;
}
.nav-item :hover {
  background-color: rgb(245, 248, 250);
  border-radius: 20px;
}
.where {
  font-family: poppin2;
  padding-top: 3%;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
.li-main {
  display: flex;
  justify-content: center;
}
.li-item {
  list-style: none;
  padding-right: 2%;
  font-family: poppins;
  font-size: 20px;
  /* border-bottom: 2px solid black; */
}
.search {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding-bottom: 2%;
  /* margin-top: 1%; */
}
.underline {
  border: none;
  background-color: transparent;
  transition: 0, 2s;
}
.underline:hover {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding-bottom: 2%;
}
/* .inp-group {
  width: 100%;
} */
.inp {
  background-image: url(./img/mg-removebg-preview.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-x: 2%;
  background-position-y: center;
  background-size: 20px;
  width: 10%;
  border-radius: 26px;
  height: 9vh;
}
.inp:focus {
  border: 2px solid grey;
  border-radius: 26px;
}
::placeholder {
  padding-left: 7%;
}
.but-search {
  font-family: poppins;
  /* width: 7%; */
  height: 7vh;
  border: none;
  border-radius: 26px;
  background-color: #34e0a1;
  /* margin-left: 10%; */
  margin-top: 6.5px;
  position: absolute;
  /* left: 20%; */
  right: 26%;
}

/* .form-div {
  height: 14%;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}
.mail {
  border: none;
  transform: translateY(30%);sss
}
.sub {
    padding: 10px 20px;
    transform: translateY(20%);
    background-color: #cd2c22;
    color: #fff;
    border: none;
    border-radius: 10px;
    float: right;
  } */
@media screen and (max-width: 768px) {
  .li-div {
    width: 100%;
    overflow-x: scroll;
  }
  .li-main {
    width: 100%;
    margin-left: 21%;
  }
  .li-item {
    /* font-size: 12px; */
    padding-right: 5%;
  }
  .li-div::-webkit-scrollbar {
    display: none;
  }
  .inp-group {
    background-color: white;
  }
  .but-search {
    /* margin-left: 20%; */

    position: absolute;
    left: 0.2%;
    margin-top: 18%;
    /* bottom: -1%; */
  }
  /* .inp-group {
    display: block;
  }
  .inp {
    width: 100%;
    background-position-x: 4%;
  }
  ::placeholder {
    padding-left: 12%;
  } */
}
