/* nav css */
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppin2;
  src: url(./fonts/Poppins-ExtraBold.ttf);
}
.nav-div {
  margin-top: -1%;
}
.logo {
  width: 188px;

  margin-right: 20%;
}
.usd {
  border-left: 2px solid orange;
  border: none;
  border-radius: 10px;
  padding: 9px;
  background-color: transparent;
}
.nav-item {
  font-family: poppins;
  font-weight: light;
}
.Sign {
  background-color: black;
  color: white;
  font-family: poppins;
  border-radius: 25px;
  padding: 7px 13px;
  margin-left: 3%;
}
.nav-item :hover {
  background-color: rgb(245, 248, 250);
  border-radius: 20px;
}
.where {
  font-family: poppin2;
  padding-top: 3%;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
.li-main {
  display: flex;
  justify-content: center;
}
.li-item {
  list-style: none;
  padding-right: 2%;
  font-family: poppins;
  font-size: 20px;
}
.search {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding-bottom: 2%;
}
.underline {
  border: none;
  background-color: transparent;
  transition: 0, 2s;
}
.underline:hover {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding-bottom: 2%;
}

.inp {
  background-image: url(./img/mg-removebg-preview.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-x: 2%;
  background-position-y: center;
  background-size: 20px;
  width: 10%;
  border-radius: 26px;
  height: 9vh;
}
.inp:focus {
  border: 2px solid grey;
  border-radius: 26px;
}
::placeholder {
  padding-left: 7%;
}
.but-search {
  font-family: poppins;
  height: 7vh;
  border: none;
  border-radius: 26px;
  background-color: #34e0a1;
  margin-top: 6.5px;
  position: absolute;
  right: 26%;
}

.text-1 {
  font-family: poppins;
  padding-left: 6%;
  font-size: 24px;
  font-weight: bolder;
  padding-top: 3%;
}
.para-1 {
  font-family: poppins;
  padding-left: 6%;
  /* font-size: 24px; */
  /* font-weight: bolder; */
}
/* cardcsss */
.card-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  overflow-x: scroll;
  /* height: 50vh; */
  margin-left: 10%;
}
.card-main-div::-webkit-scrollbar {
  display: none;
}
.card-div {
  margin-left: 1%;
  width: 40%;
}
.card-img {
  width: 40%;
}

.destination {
  position: absolute;
  bottom: -50%;
  left: 12%;
  color: rgb(250, 240, 240);
  font-family: poppin2;
  font-size: 25px;
}
.recent-card {
  width: 80%;
  margin-left: 10%;
  display: flex;
}
.card-imgg {
  width: 95%;
  border-radius: 10px;
}
.uni {
  font-family: poppins;
}
.edu {
  /* margin-top: 0px; */
  margin-top: -6%;
}
.icon-heart{
  background-color: white;
  border-radius: 50%;
  width: 3%;
  height: 5.5vh;
   margin-top: 1%;
  position: absolute;
  margin-left: 14%; 
}
.heart {
  margin-top: 36%;
  position: absolute;
  margin-left: 18%;
}
@media screen and (max-width: 768px) {
  .li-div {
    width: 100%;
    overflow-x: scroll;
  }
  .li-main {
    width: 100%;
    margin-left: 21%;
  }
  .li-item {
    padding-right: 5%;
  }
  .li-div::-webkit-scrollbar {
    display: none;
  }
  .inp-group {
    background-color: white;
  }
  .but-search {
    position: absolute;
    left: 0.2%;
    margin-top: 18%;
  }
  .banner-img {
    width: 70%;
    /* margin-top: 15%; */
  }
  .text-1 {
    font-family: poppins;
    padding-left: 0%;
    font-size: 20px;
    font-weight: bolder;
  }
  .para-1 {
    font-family: poppins;
    padding-left: 0;
    font-size: 12px;
  }
  .card-main-div {
    overflow-x: scroll;
  }
  .card-main-div::-webkit-scrollbar {
    display: none;
  }
  .card1 {
    margin-left: 920px;
  }
  .destination {
    position: absolute;
    bottom: -38%;

    left: 20%;

    color: rgb(255, 255, 255);
    font-family: poppin2;
    font-size: 25px;
  }
  .recent-card{
    display: block;
  }
}
